@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: black; */
  height: 100%;
}
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* 스크롤바 손잡이 꾸미기 */
::-webkit-scrollbar-thumb {
  background: #000;
}

/* 스크롤바 손잡이 호버 시 색 */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
